- const testing = true
- const siteTitle = "Great Sex Tips!"


- let siteURL = "https://sextips.ahoylemon.xyz"

if testing
  - siteURL = ""

- const fPlusURL = "https://thefpl.us/also-made/great-sex-tips"
- const description = "Thousands of generated sex tips from the only website that knows what your boyfriend likes."
- const d = new Date()
- const lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
