@use "../globals/variables" as vars;
@use "../globals/mixins" as mix;
@use "../globals/z-index" as z;
@use "variables" as pvars;

$button-color:vars.$yellow;
$background-color:#985a5a;


body { background-color: $background-color; }
.fullpic { @include mix.position(absolute,0,0,0,0); background-size:cover; z-index: z.$z-background-primary; background: $background-color;
  figure { background-size:cover; background-position: center; @include mix.position(absolute,0,0,0,0); opacity: 0.3; }
}


main { @include mix.flex-center(); min-height: 91.5vh; position: relative; z-index:z.$z-main; padding-top: vars.$header-height;
  .inner {  width:100%; max-width: 960px; }
  .tip { background: white; padding: 1em; box-shadow: 3px 3px 3px rgba(vars.$black,0.5); border:3px solid rgba(vars.$black,0.65); position: relative;
    button { background:transparent; border:none; padding: 0.35em 1.25em; color:#d7004c; cursor: pointer; @include mix.position(absolute,5px,5px);
      svg * { fill:currentColor; }
      .icon { display: inline-block; width:1.5em; height: 1.5em; margin-right: 0.3em; }
      .text { display: inline-block; font-family:pvars.$serif; font-style:italic; font-size:1.15em; text-shadow:none; transform: translateY(-4px); }
      &:hover {
        .icon { transform: scale(1.5); }
      }
    }
  }
  .tip-headline { transform: translateX(-2em);
    span { box-shadow: 2px 2px 1px rgba(vars.$black,0.5); border:3px solid rgba(vars.$black,0.45); padding:0.35em 0.65em; }
  }
  .tip-text { font-size:2.2rem; line-height: 120%; padding-top: 0.75em; padding-bottom: 0.5em; }
  .button-holder { text-align: center; padding-top: 1em;
    button { background-color:transparent; color:$button-color; font-family: pvars.$serif; font-weight: vars.$bold; border:2px solid currentColor; cursor: pointer; font-size:1.5rem; padding: 0.25em 1em; text-shadow: 1px 1px 0 vars.$black; box-shadow: 1px 1px 0 vars.$black; background-color:rgba(vars.$black,0.3);
      &:hover { background: $button-color; color:vars.$black; box-shadow: 3px 3px 0 rgba(vars.$black,0.85); }
      &:active { box-shadow: inset 3px 3px rgba(vars.$black,0.88); }
    }
  }
}

.tip {
  h1 { text-align: center; font-family:pvars.$serif; font-weight: vars.$medium; padding: 0.5em; }
  .tip-headline { font-family:pvars.$sans-serif; font-weight: vars.$medium;
    span { background:vars.$red; font-weight: vars.$bold; display: inline-block; color:vars.$white; text-shadow: 2px 2px 1px rgba(vars.$black,0.4); }
  }
  .tip-text { text-align: center; font-family:pvars.$serif; font-weight: vars.$medium; }
}

img.bug { @include mix.position(fixed,null,10px,10px); z-index:z.$z-bug; width:3vw; height: 3vw; min-width:20px; min-height: 20px; mix-blend-mode:overlay; }


@media (max-width:900px) {
  main { font-size:2vw;
    .inner { padding-left: 3em; padding-right: 3em; }
    .tip-text { font-size:24px; padding-left: .5em; padding-right: .5em; }
    .tip {
      button { font-size:10px;}
    }
    .button-holder { padding-top:40px;
      button { font-size:16px; }
    }
  }
}
