include partials/_variables.pug
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    #app
    
      //figure.fullpic.secondary(v-bind:style="secondaryImage" v-bind:class="{visible:secondaryImage}")  
      .fullpic
        figure.primary(style="background-image:url(img/bg-offline.jpg)")
    
      include partials/_sidebar.pug
      
      main
        .inner(v-cloak)
          .tip
            h3.tip-headline
              span You are offline
            .tip-text
              | You're not currently connected to the internet.
              br
              | Figure out what's wrong with your connection and refresh.
      
      img.bug(src="svg/logo-red.svg")
      
      include partials/_share.pug
      
    include partials/_javascripts.pug